@tailwind base;
@tailwind components;
@tailwind utilities;

.weekCard:hover {
  height: 6rem;
  z-index: 10;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
